body {
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
}

table {
    margin: 2px 0px;
    border-collapse: collapse;
    border: 2px solid;
}

td,
th {
    padding: 2px 12px 2px 4px;
    vertical-align: baseline;
    border: 1px solid var(--vscode-editor-foreground);
}

button {
    background-color: transparent;
    padding: 2px 4px;
    border: 1px solid var(--vscode-editor-foreground);
    color: var(--vscode-editor-foreground);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

input {
    width: 100%;
    margin: 0px;
    padding: 2px 4px;
    vertical-align: baseline;
    border: 0px;
    background-color: transparent;
    color: var(--vscode-editor-foreground);
}

input:focus {
    outline: none;
}

input:invalid {
    background-color: var(--vscode-inputValidation-errorBackground);
}

select {
    color: var(--vscode-editor-foreground);
    background-color: transparent;
    border: 1px solid var(--vscode-editor-foreground);
    padding: 2px 4px;
    margin: 0px;
    width: 100%;
    vertical-align: baseline;
}

.collapsed {
    white-space: nowrap;
}

.badge {
    padding: 1px 0.5em;
    display: inline-block;
    border-radius: 0.5em;
    color: var(--vscode-badge-foreground);
    background-color: var(--vscode-badge-background);
}

.expand {
    display: inline-block;
    text-align: center;
    width: 1em;
    margin-left: 4px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
}

.text-button {
    display: inline-block;
    text-align: center;
    margin-left: 4px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 0.5em;
}